@{
  ViewData["Title"] = "Home Page";
}
<section class="main-section">
  <div class="main-section-grid container-fluid">
    <div class="d-flex align-items-end justify-content-center">
      <h1 class="mb-0 life-title-text">Life Insurance</h1>
    </div>
    <div>
      <div class="general-box container-fluid w-100 border mt-5 p-0">
        <ul class="d-flex list-unstyled w-100 container-fluid p-0 m-0">
          <li class="border flex-grow-1 d-flex align-items-center justify-content-center active-nav-item" style="padding: 20px;">
            <a href="#product-category" class="nav-text-general-box text-decoration-none">
              <i class="fa fa-cube" aria-hidden="true"></i>
            </a>
          </li>
          <li class="border flex-grow-1 d-flex align-items-center justify-content-center" style="padding: 20px;">
            <a href="#claim-nav" class="nav-text-general-box text-decoration-none">
              <i class="fa fa-file" aria-hidden="true"></i>
              Claims
            </a>
          </li>
          <li class="border flex-grow-1 d-flex align-items-center justify-content-center" style="padding: 20px;">
            <a href="#contact-nav" class="nav-text-general-box text-decoration-none">
              <i class="fa fa-phone" aria-hidden="true"></i>
              Contact
            </a>
          </li>
        </ul>
        <div class="products-grid nav-items-contents container-fluid py-5 p-0" id="product-category">
          <div class="flex-grow-1 d-flex align-items-center text-center justify-content-center">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front p-5">
                  <img src="~/img/icons/capitalbuilder1.png" width="80">
                  <h6 style="margin-top: 10px;">Savings and Investment</h6>
                </div>
                <div class="flip-card-back w-100">
                  <a class="flip-list" data-bs-toggle="modal" data-bs-target="#capital-builder-modal">Capital Builder</a>
                  <a class="flip-list" data-bs-toggle="modal" data-bs-target="#esusu-shield-modal">Esusu Shield</a>
                  <a class="flip-list" data-bs-toggle="modal" data-bs-target="#investment-plus-plan-modal">Investment Plus Plan</a>
                  <a class="flip-list" data-bs-toggle="modal" data-bs-target="#wealth-plus-plan-modal">Wealth Plus Plan</a>
                  <a class="flip-list" data-bs-toggle="modal" data-bs-target="#personal-provident-modal">Personal Provident Plan</a>
                </div>
              </div>
            </div>
          </div>

          <div class="flex-grow-1 d-flex align-items-center text-center justify-content-center">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front p-5">
                  <img src="~/img/icons/life-n.png" width="80">
                  <h6 style="margin-top: 10px;">Endowment</h6>
                </div>
                <div class="flip-card-back w-100">
                  <a class="flip-list" data-bs-toggle="modal" data-bs-target="#education-endowment-modal">Education Endowment</a>
                  <a class="flip-list" data-bs-toggle="modal" data-bs-target="#lifetime-investment-modal">Life Time Harvest</a>
                  <a class="flip-list" data-bs-toggle="modal" data-bs-target="#ordinary-endowment-modal">Ordinary Endowment</a>
                </div>
              </div>
            </div>
          </div>
          <div class="flex-grow-1 d-flex align-items-center text-center justify-content-center">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front p-5">
                  <img src="~/img/icons/wealth-s.png" width="80">
                  <h6 style="margin-top: 10px;">Protection Policy</h6>
                </div>
                <div class="flip-card-back w-100">
                  <a class="flip-list" data-bs-toggle="modal" data-bs-target="#terms-assurance-modal">Terms Assurance</a>
                  <a class="flip-list" data-bs-toggle="modal" data-bs-target="#wholelife-assurance-modal">Whole Life Assurance</a>
                  <a class="flip-list" data-bs-toggle="modal" data-bs-target="#dignity-plan-modal">Dignity Plan</a>
                  <a class="flip-list" data-bs-toggle="modal" data-bs-target="#tuition-protection-modal">Tuition Protection</a>
                </div>
              </div>
            </div>
          </div>
          <div class="flex-grow-1 d-flex align-items-center text-center justify-content-center">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front p-5">
                  <img src="~/img/icons/annuity.png" width="80">
                  <h6 style="margin-top: 10px;">ANNUITY</h6>
                </div>
                <div class="flip-card-back w-100">
                  <a class="flip-list" data-bs-toggle="modal" data-bs-target="#retiree-annuity-modal">Retiree Annuity</a>
                  <a class="flip-list" data-bs-toggle="modal" data-bs-target="#immediate-annuity-modal">Immediate Annuity</a>
                  <a class="flip-list" data-bs-toggle="modal" data-bs-target="#deferred-annuity-modal">Deferred Annuity</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="nav-items-contents container-fluid py-5 pt-2 d-none" id="claim-nav">
        <div class="text-center">
          <h4 class="wod" style="padding-top: 0;padding-bottom: 0px; margin-bottom: 0px;">
            <b> Make a Claim, it's fast and easy<br> No Story!</b>
          </h4>
          <div class="smart-forms mx-5 px-5">
            <div class="section py-3">
              <div class="option-group field " style="text-align: center;">
                <label class="option px-3">
                  <input onchange="toggle2();" type="radio" name="claim" id="claim_status_button" checked="">
                  <span class="radio"></span>Claim Status
                </label>

                <label class="option px-3">
                  <input onchange="toggle1();" type="radio" name="claim" id="make_claim_button">
                  <span class="radio"></span>  Make a Claim
                </label>
              </div>
            </div>

            <form method="post" action="https://custodianplc.com.ng/subsidiaries/makeclaim" class="container d-none" id="make_claim_form">
              <div class="form-body" style="padding-top: 0px;">
                <div class="grid-container">
                  <div class="grid-item">
                    <div class="section">
                      <label class="field prepend-icon w-100">
                        <input required="required" type="text" style="height:40px" name="fullname" id="fullname" class="gui-input gui-input-style w-100" placeholder="Full Name" value="">
                        <span class="field-icon"><i class="fa fa-user" aria-hidden="true"></i></span>
                      </label>
                    </div>
                  </div>

                  <div class="grid-item">
                    <div class="section">
                      <label class="field prepend-icon w-100">
                        <input required="required" style="height:40px" type="email" name="email" id="email" class="gui-input gui-input-style w-100" placeholder="Email" value="">
                        <span class="field-icon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                      </label>
                    </div>
                  </div>

                  <div class="grid-item">
                    <div class="section">
                      <label class="field prepend-icon w-100">
                        <input type="tel" style="height:40px" name="policy_number" id="policy_number" required="required" class="gui-input gui-input-style w-100" placeholder="Policy No" value="">
                        <span class="field-icon"><i class="fa fa-phone-square" aria-hidden="true"></i></span>
                      </label>
                    </div>
                  </div>

                </div>
                <div class="grid-container-two mt-3">
                  <div class="grid-item">
                    <div class="section">
                      <label class="field w-100">
                        <input required="required" style="height:40px" type="text" name="phone_number" id="phone_number" class="gui-input w-100" placeholder="Mobile No" value="">
                      </label>
                    </div>
                  </div>

                  <div class="grid-item">
                    <div class="section">
                      <label class="field w-100">
                        <input required="required" style="height:40px" type="date" name="incident_date" id="incident_date" class="gui-input w-100" placeholder="Date of Loss" value="">
                      </label>
                    </div>
                  </div>

                  <div class="grid-item">
                    <div class="section">
                      <label class="field prepend-icon w-100">
                        <textarea required="required" name="incident_report" id="incident_report" class="gui-textarea w-100" placeholder="Report an Incident" style="height: 80px; resize: none; overflow-y: auto; overflow-x: hidden;"></textarea>
                        <span class="field-icon"><i class="fa fa-comments" aria-hidden="true"></i></span>
                      </label>
                    </div>
                  </div>

                  <div class="grid-item">
                    <div class="section">
                      <button type="submit" class="button btn-primary p-2 text-white btn-life" style="float:left;">Make a Claim</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>

            <form method="post" id="claim_status_form" class="active container p-3">
              <div class="form-body" style="padding-top: 0px;">
                <div class="section">
                  <label class="field prepend-icon fieid-width">
                    <input type="text" name="claim_number" id="claim_number" style="height:40px" class="gui-input gui-input-style w-100" placeholder="Enter Claim Number">
                    <span class="field-icon"><i class="fa fa-user" aria-hidden="true"></i></span>
                  </label>
                </div>
              </div>
              <div id="claimResult" style="display: none;">
                <table class="table">
                  <tbody>
                    <tr>
                      <td>Claim No::</td>
                      <td>Policy No:: </td>
                      <td>Claim Status::</td>
                    </tr>
                    <tr>
                      <td><span id="pre_claim_no"></span></td>
                      <td><span id="pre_policy_no"></span></td>
                      <td><span id="pre_claim_status"></span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <button type="submit" class="button mt-4 p-2 text-white btn-life">Check Status</button>
            </form>
          </div>
        </div>
      </div>
      <div class="nav-items-contents container-fluid d-none" id="contact-nav">
        <h4 class="wod text-center pb-0 mb-0" style="padding-top: 5px;"><b> Need help ?<br> Please fill the form below</b> </h4>
        <div class="smart-forms text-center">
          <form method="post" action="https://custodianplc.com.ng/subsidiaries/contact" id="" class=" text-center">
            <input type="hidden" name="_token" value="7ts4GWs4hm9odKHaynIZZiQmHlbU6hjUdR8luyZR">
            <input type="hidden" name="subsidiary" id="subsidiary" value="CLA">
            <input type="hidden" name="redirect" id="redirect" value="subsidiaries.lifeinsurance">
            <div class="form-body text-center container p-3 pt-1" style="padding-top: 0px;">
              <div class="grid-container-three container px-5 text-center">
                <div class="grid-item w-75 mx-auto">
                  <div class="section">
                    <label class="field prepend-icon w-100">
                      <input type="text" name="fullname" style="height:40px" id="fullname" required="" class="gui-input gui-input-style w-100" placeholder="Full Name">
                      <span class="field-icon"><i class="fa fa-user" aria-hidden="true"></i></span>
                    </label>
                  </div>
                </div>
                <div class="grid-item  w-75 mx-auto">
                  <div class="section">
                    <label class="field prepend-icon w-100">
                      <input type="text" name="fullname" style="height:40px" id="fullname" required="" class="gui-input gui-input-style w-100" placeholder="Full Name">
                      <span class="field-icon"><i class="fa fa-user" aria-hidden="true"></i></span>
                    </label>
                  </div>
                </div>
                <div class="grid-item w-75 mx-auto">
                  <div class="section">
                    <label class="field prepend-icon w-100">
                      <input type="tel" name="phone_number" style="height:40px" id="phone_number" required="" class="gui-input gui-input-style w-100" placeholder="Phone">
                      <span class="field-icon"><i class="fa fa-phone-square" aria-hidden="true"></i></span>
                    </label>
                  </div>
                </div>
                <div class="section w-75 mx-auto">
                  <label class="field prepend-icon w-100">
                    <textarea class="gui-textarea gui-input-style w-100" required="" id="feedback" name="feedback" placeholder="Feedback message" style="height: 80px; resize: none; overflow-y: auto; overflow-x: hidden;"></textarea>
                    <span class="field-icon"><i class="fa fa-comments" aria-hidden="true"></i></span>
                  </label>
                </div>
              </div>
            </div>
            <button type="submit" class="button px-3 py-2 text-white btn-life">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="capital-builder-modal" tabindex="-1" aria-labelledby="capitalBuilderModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Capital Builder</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          The Custodian Capital Builder Plan is an investment product that allows the policyholder to determine the 
          amount of regular contribution he wishes to periodically make. The policyholder is at liberty to select 
          the level of life assurance benefit he wants.
        </p>
        <div class="row">
          <div class="col-sm-6">
            <div class="special-heading word-underline">
              <h4 class="special-heading-inner"><span>KEY FEATURES</span></h4>
            </div>
            <ul class="pt-2">
              <li> Flexible maturity date  </li>
              <li> Minimum term of five years</li>
              <li> Option to determine level of life assurance cover </li>
            </ul>
          </div>
          <div class="col-sm-6">
            <div class="special-heading word-underline">
              <h4 class="special-heading-inner">
                <span>BENEFITS</span>
              </h4>
            </div>
            <ul class="pt-2">
              <li> Tax advantages </li>
              <li> Compulsory saving device </li>
              <li> Offer better return at maturity </li>
              <li> Waiver of premium benefit in the event of total disablement </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center m-2">
        <a href="https://localhost:7143/capitalbuilder" class="w-25 btn btn-default modal-btn buy-policy-button">Get a Quote/Buy now</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn modal-close-button" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="esusu-shield-modal" tabindex="-1" aria-labelledby="esusuShieldModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Esusu Shield</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          Esusu Shield uniquely combines features of Ajo, Esusu, Thrift and Mutual financing to meet the savings and
          financing needs, limited life assurance and personal accident benefits of policyholders.
        </p>
        <div class="row">
          <div class="col-sm-6">
            <div class="special-heading word-underline">
              <h4 class="special-heading-inner"><span>KEY FEATURES</span></h4>
            </div>
            <ul class="pt-2">
              <li> Life assurance and personal accident benefit  </li>
              <li> Interest rate of 2% above average Bank’s Savings Deposit Rate</li>
              <li> Allows lump sum deposits </li>
            </ul>
          </div>
          <div class="col-sm-6">
            <div class="special-heading word-underline">
              <h4 class="special-heading-inner">
                <span>BENEFITS</span>
              </h4>
            </div>
            <ul class="pt-2">
              <li> Easy way of accumulating capital for short term projects </li>
              <li> The investment grows at a higher rate than a normal savings account </li>
              <li> Grants protection in addition to the accumulated fund. </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center m-2">
        <a href="https://localhost:7143/esusushield" class="w-25 btn btn-default modal-btn buy-policy-button">Get a Quote/Buy now</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn modal-close-button" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="personal-provident-modal" tabindex="-1" aria-labelledby="esusuShieldModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Personal Provident Plan</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          The plan is designed to provide guaranteed income for the self-employed and those who want to augment
          their retirement benefits.
        </p>
        <div class="row">
          <div class="col-sm-6">
            <div class="special-heading word-underline">
              <h4 class="special-heading-inner"><span>KEY FEATURES</span></h4>
            </div>
            <ul class="pt-2">
              <li> Maturity date is fixed at any time between age 55 and 65  </li>
              <li> Minimum policy term is 5 years</li>
              <li> Lump sum deposit option </li>
            </ul>
          </div>
          <div class="col-sm-6">
            <div class="special-heading word-underline">
              <h4 class="special-heading-inner">
                <span>BENEFITS</span>
              </h4>
            </div>
            <ul class="pt-2">
              <li> High return on investment. </li>
              <li> Tax advantages. </li>
              <li> Option to convert maturity proceeds to annuity. </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center m-2">
        <a href="https://localhost:7143/PersonalProvident" class="w-25 btn btn-default modal-btn buy-policy-button">Get a Quote/Buy now</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn modal-close-button" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="investment-plus-plan-modal" tabindex="-1" aria-labelledby="esusuShieldModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Investment Plus Plan</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          The plan is a combination of investment and protection. It provides protection up to age 60.
        </p>
        <div class="row">
          <div class="col-sm-6">
            <div class="special-heading word-underline">
              <h4 class="special-heading-inner"><span>KEY FEATURES</span></h4>
            </div>
            <ul class="pt-2">
              <li> Fixed maturity age (60)  </li>
              <li> Minimum and maximum ages at entry are 18 and 55 years respectively.</li>
              <li> The first 18 months premium is for life cover </li>
            </ul>
          </div>
          <div class="col-sm-6">
            <div class="special-heading word-underline">
              <h4 class="special-heading-inner">
                <span>BENEFITS</span>
              </h4>
            </div>
            <ul class="pt-2">
              <li> Encourages long term savings </li>
              <li> Family protection </li>
              <li> Additional fatal accident and waiver of premium benefit. </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center m-2">
        <a href="https://localhost:7143/investmentplusplan" class="w-25 btn btn-default modal-btn buy-policy-button">Get a Quote/Buy now</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn modal-close-button" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="wealth-plus-plan-modal" tabindex="-1" aria-labelledby="esusuShieldModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Wealth Plus Plan</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          The Custodian WealthPlus Plan is a policy designed to help you create and accumulate wealth by combining the features of
          Insurance and savings to meet your unique financial needs and lifestyle

          The policy takes care of your immediate and future financial needs or goals by periodically providing you access to funds
          at intervals, whilst still saving for the future. The policy also provides you with a life insurance cover to secure the 
          future of your loved ones in the event of the unexpected.
        </p>
        <div class="row">
          <div class="col-sm-6">
            <div class="special-heading word-underline">
              <h4 class="special-heading-inner"><span>KEY FEATURES</span></h4>
            </div>
            <ul class="pt-2">
              <li> Payment mode can be monthly, quarterly, biannual and annual  </li>
              <li> Minimum and maximum age at entry are 18 and 60, respectively</li>
              <li> Minimum policy duration is 5 years </li>
              <li> Maturity value can be paid as a lump sum or in instalments </li>
              <li> Annual Partial Withdrawal allows you access to funds after two years (optional)</li>
              <li> Provides life assurance protection.</li>
            </ul>
          </div>
          <div class="col-sm-6">
            <div class="special-heading word-underline">
              <h4 class="special-heading-inner">
                <span>BENEFITS</span>
              </h4>
            </div>
            <ul class="pt-2">
              <li> Flexibility. Allows for partial withdrawal (after two years) </li>
              <li> A target savings device which can be used to finance short and long term projects, e.g. car or house purchase. </li>
              <li> Provides combined benefits of life assurance cover while you create wealth </li>
              <li> Provides immediate payouts in case of unfortunate events such as death/medical emergencies </li>
              <li> The policy qualifies you for tax relief </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center m-2">
        <a href="https://custodianplc.com.ng/capital-builder" class="w-25 btn btn-default modal-btn buy-policy-button">Get a Quote/Buy now</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn modal-close-button" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="education-endowment-modal" tabindex="-1" aria-labelledby="esusuShieldModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Education Endowment</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          The plan provides benefit for the payment of policyholder’s child school fees and other incidentals at any chosen 
          level of his/her education – Primary, Secondary or Tertiary level. Through this arrangement; a parent can start 
          to provide for the education of his child immediately, and so dispel all the worries of uncertainty and the 
          strain of not being able to fund his child’s education in future. The policy guarantees the education of your 
          child whether you are alive or otherwise to the tune of your sum assured.
        </p>
        <div class="row">
          <div class="col-sm-6">
            <div class="special-heading word-underline">
              <h4 class="special-heading-inner"><span>KEY FEATURES</span></h4>
            </div>
            <ul class="pt-2">
              <li> Minimum and maximum age at entry are 18 and 60, respectively</li>
              <li> Mode of premium payment can be monthly, quarterly, half yearly or annually </li>
              <li> Option to select level of education to be covered </li>
              <li> Maximum age at entry is 55 years</li>
              <li> Option to choose an Additional Fatal Accident Benefit (AFAB) cover up to 100% at an extra premium</li>
            </ul>
          </div>
          <div class="col-sm-6">
            <div class="special-heading word-underline">
              <h4 class="special-heading-inner">
                <span>BENEFITS</span>
              </h4>
            </div>
            <ul class="pt-2">
              <li> The future education of the child is secured to the tune of the targeted amount</li>
              <li> It qualifies for tax advantage </li>
              <li> At maturity, the targeted amount is payable </li>
              <li> Bonus declaration enhances the benefit </li>
              <li> Policy loan facility exists </li>
              <li> Systematic saving vehicle </li>
              <li> Collateral security </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center m-2">
        <a href="https://custodianplc.com.ng/capital-builder" class="w-25 btn btn-default modal-btn buy-policy-button">Get a Quote/Buy now</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn modal-close-button" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="lifetime-investment-modal" tabindex="-1" aria-labelledby="esusuShieldModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Life time harvest</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          The policy is an endowment assurance plan that pays out a percentage of the sum assured after a predetermined 
          number of years has been completed. The policy also provides additional fatal accident benefit and medical 
          expenses subject to a maximum of N500, 000 and N100, 000 respectively.
        </p>
        <div class="row">
          <div class="col-sm-6">
            <div class="special-heading word-underline">
              <h4 class="special-heading-inner"><span>KEY FEATURES</span></h4>
            </div>
            <ul class="pt-2">
              <li> Minimum duration of 9 years (Harvesting after every 3 years)</li>
              <li> Flexible mode of premium payment. </li>
              <li> Option to select harvesting duration </li>
            </ul>
          </div>
          <div class="col-sm-6">
            <div class="special-heading word-underline">
              <h4 class="special-heading-inner">
                <span>BENEFITS</span>
              </h4>
            </div>
            <ul class="pt-2">
              <li> Family protection </li>
              <li> Policy serve as collateral facility </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center m-2">
        <a href="https://custodianplc.com.ng/capital-builder" class="w-25 btn btn-default modal-btn buy-policy-button">Get a Quote/Buy now</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn modal-close-button" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ordinary-endowment-modal" tabindex="-1" aria-labelledby="esusuShieldModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Ordinary Endowment</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          This contract pays the guaranteed sum assured at maturity or at earlier death. Maximum age at entry is 
          60 years and additional fatal accident benefit of up to 100% is available.
        </p>
        <div class="row">
          <div class="col-sm-6">
            <div class="special-heading word-underline">
              <h4 class="special-heading-inner"><span>KEY FEATURES</span></h4>
            </div>
            <ul class="pt-2">
              <li> Minimum duration of 5 years</li>
              <li> Mode of premium payment can be monthly, quarterly, half yearly or annually </li>
              <li> Maximum age at entry is 55 years </li>
              <li> Option to choose an Additional Fatal Accident Benefit (AFAB) cover up to 100% at an extra premium </li>
            </ul>
          </div>
          <div class="col-sm-6">
            <div class="special-heading word-underline">
              <h4 class="special-heading-inner">
                <span>BENEFITS</span>
              </h4>
            </div>
            <ul class="pt-2">
              <li> It qualifies for tax advantage </li>
              <li> At maturity, the targeted amount is payable </li>
              <li> Bonus declaration enhances the benefit </li>
              <li> Policy loan facility exist </li>
              <li> Collateral security </li>
              <li> Systematic saving vehicle </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center m-2">
        <a href="https://custodianplc.com.ng/capital-builder" class="w-25 btn btn-default modal-btn buy-policy-button">Get a Quote/Buy now</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn modal-close-button" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="terms-assurance-modal" tabindex="-1" aria-labelledby="esusuShieldModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Terms Assurance</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          Term assurance policy is the oldest and cheapest form of life assurance cover. It is designed to pay the guaranteed sum 
          assured on death if this occurs within the term of the policy. Under this policy, nothing is payable if the life assured 
          survives the term of the policy. It is purely a protection policy and does not attract surrender. It can be used to provide 
          short period covers.
        </p>
        <div class="row">
          <div class="col-sm-6">
            <div class="special-heading word-underline">
              <h4 class="special-heading-inner"><span>KEY FEATURES</span></h4>
            </div>
            <ul class="pt-2">
              <li> Policy term can vary from months to several years according to need</li>
              <li> Mode of premium payment can always be adapted to policyholder’s cash flow </li>
              <li> Minimum and maximum ages at entry are 18 and 65 respectively </li>
            </ul>
          </div>
          <div class="col-sm-6">
            <div class="special-heading word-underline">
              <h4 class="special-heading-inner">
                <span>BENEFITS</span>
              </h4>
            </div>
            <ul class="pt-2">
              <li> Family protection. It is the cheapest means of providing for one’s dependant’s in case of death </li>
              <li> It guarantees peace of mind </li>
              <li> Business owners can use the plan as a collateral security to secure loan </li>
              <li> Can be used to take care of key-man risk for organizations and partnerships </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center m-2">
        <a href="https://custodianplc.com.ng/capital-builder" class="w-25 btn btn-default modal-btn buy-policy-button">Get a Quote/Buy now</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn modal-close-button" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="wholelife-assurance-modal" tabindex="-1" aria-labelledby="esusuShieldModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Whole Life Assurance</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          This contract pays the guaranteed sum assured any time death occurs. Depending on the arrangement, premium payment may stop
          at age 60 or 65 while cover is still in force.
        </p>
        <div class="row">
          <div class="col-sm-6">
            <div class="special-heading word-underline">
              <h4 class="special-heading-inner"><span>KEY FEATURES</span></h4>
            </div>
            <ul class="pt-2">
              <li> Policy term is for a life time.</li>
              <li> Mode of premium payment can always be adapted to policyholder’s cash flow </li>
              <li> Minimum and maximum ages at entry are 18 and 60 respectively</li>
              <li> Premium payment period stops at age 60 years or 65 years</li>
            </ul>
          </div>
          <div class="col-sm-6">
            <div class="special-heading word-underline">
              <h4 class="special-heading-inner">
                <span>BENEFITS</span>
              </h4>
            </div>
            <ul class="pt-2">
              <li> Family protection. It is the cheapest means of providing for one’s dependent’s in case of death. </li>
              <li> It guarantees peace of mind </li>
              <li> Business owners can use the plan as a collateral security to secure loan </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center m-2">
        <a href="https://custodianplc.com.ng/capital-builder" class="w-25 btn btn-default modal-btn buy-policy-button">Get a Quote/Buy now</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn modal-close-button" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="dignity-plan-modal" tabindex="-1" aria-labelledby="esusuShieldModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Dignity Plan</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          The Custodian Dignity plan is a joint life policy which pays the dignified lump sum (sum assured) on first death. 
          The policy is unitized.
        </p>
        <div class="row">
          <div class="col-sm-6">
            <div class="special-heading word-underline">
              <h4 class="special-heading-inner"><span>KEY FEATURES</span></h4>
            </div>
            <ul class="pt-2">
              <li> It is annually renewable</li>
              <li> The sum assured per unit is N400,000.00 </li>
              <li> Premium per unit is N6,000.00</li>
            </ul>
          </div>
          <div class="col-sm-6">
            <div class="special-heading word-underline">
              <h4 class="special-heading-inner">
                <span>BENEFITS</span>
              </h4>
            </div>
            <ul class="pt-2">
              <li> The death benefit provides immediate financial succour for the surviving spouse </li>
              <li> Used for family protection </li>
              <li> Tax advantages </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center m-2">
        <a href="https://custodianplc.com.ng/capital-builder" class="w-25 btn btn-default modal-btn buy-policy-button">Get a Quote/Buy now</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn modal-close-button" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="tuition-protection-modal" tabindex="-1" aria-labelledby="esusuShieldModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Tuition Protection</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          The Custodian Tuition Protection plan is designed to guarantee the education of pupils and students in the 
          event of death or total permanent disability as a result of accident of the parent/guardian/sponsor. It also 
          provides protection in the event of the parent/guardian/sponsor contracting a named critical illness 
          (as defined in the policy) and limited redundancy. The plan can only be arranged on a group or individual 
          basis. The plan is open to students in Nursery/Primary, Secondary and Tertiary Institutions.
        </p>
        <div class="row">
          <div class="col-sm-6">
            <div class="special-heading word-underline">
              <h4 class="special-heading-inner"><span>KEY FEATURES</span></h4>
            </div>
            <ul class="pt-2">
              <li> A yearly renewable contracts</li>
              <li> Arranged on the lives of parents/guardian/sponsor responsible for paying the tuition fees of the child
                in case of death of sponsor </li>
              <li> When on group basis, it is compulsory for all students in the participating Schools</li>
            </ul>
          </div>
          <div class="col-sm-6">
            <div class="special-heading word-underline">
              <h4 class="special-heading-inner">
                <span>BENEFITS</span>
              </h4>
            </div>
            <ul class="pt-2">
              <li> On the happening of any of the insured events, the policy trust fund takes over the payment of
                the child's school fees in line with the policy conditions</li>
              <li> Medical benefits </li>
              <li> Illness/injury benefits </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center m-2">
        <a href="https://custodianplc.com.ng/capital-builder" class="w-25 btn btn-default modal-btn buy-policy-button">Get a Quote/Buy now</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn modal-close-button" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="retiree-annuity-modal" tabindex="-1" aria-labelledby="retireeAnnuityModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Retiree Life Annuity</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          Custodian Retiree Life Annuity Plan is a series of regular monthly or quarterly payments made to a retiree (called an Annuitant)
          for the rest of his life upon payment of the purchase amount which is usually paid once. The Purchase Money is the premium pai
          d for an annuity and in the case of the Retiree Life Annuity, the balance in the retiree’s RSA is used for this payment.
          On retirement, the policy pays a lump sum amount to the retiree provided that the balance in the RSA after such 
          payment will provide an annuity of not less than 50% of the retiree’s last annual remuneration.
        </p>
        <div class="row">
          <div class="col-sm-6">
            <div class="special-heading word-underline">
              <h4 class="special-heading-inner"><span>KEY FEATURES</span></h4>
            </div>
            <ul class="pt-2">
              <li> Income is payable for life</li>
              <li>
                Retiree Life Annuity payment guaranteed for 10 years and thereafter for life
              </li>
              <li> Regular payment is by standing order and on an online, real times basis</li>
              <li> Retirees no longer worry about out-living their income</li>
              <li>
                Longevity risk
              </li>
            </ul>
          </div>
          <div class="col-sm-6">
            <div class="special-heading word-underline">
              <h4 class="special-heading-inner">
                <span>BENEFITS</span>
              </h4>
            </div>
            <ul class="pt-2">
              <li>
                Provision of income for dependant
              </li>
              <li> Investment risk is passed to the life office </li>
              <li> Tax incentives </li>
              <li> Commencement date of Policy is dependent on the receipt date. </li>
              <li> Annuity payment date commences at the end of the period. </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center m-2">
        <a href="https://custodianplc.com.ng/capital-builder" class="w-25 btn btn-default modal-btn buy-policy-button">Get a Quote/Buy now</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn modal-close-button" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="immediate-annuity-modal" tabindex="-1" aria-labelledby="immediateAnnuityModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Immediate Annuity</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          Immediate Annuity This is an annuity policy taken by an insured for the purpose of getting regular streams of future income.
          The annuity plan allows individuals to use lump sum deposit to buy annuity.
          Annuity payment commences immediately in exchange for purchase money
        </p>
        <div class="row">
          <div class="col-sm-6">
            <div class="special-heading word-underline">
              <h4 class="special-heading-inner"><span>KEY FEATURES</span></h4>
            </div>
            <ul class="pt-2">
              <li> Income is payable for life</li>
              <li>
                Annuity payment guaranteed for 0yrs, 5yrs or 10 years and thereafter for life
              </li>
              <li> Regular payment is by standing order and on an online, real times basis</li>
              <li> Retirees no longer worry about out-living their income</li>
              <li>
                Annuity Escalating options at 0%,5% and 10%
              </li>
            </ul>
          </div>
          <div class="col-sm-6">
            <div class="special-heading word-underline">
              <h4 class="special-heading-inner">
                <span>BENEFITS</span>
              </h4>
            </div>
            <ul class="pt-2">
              <li>
                Additional death benefit which is 5 times the annual annuity (Optional)
              </li>
              <li> Longevity risk </li>
              <li> Provision of income for dependant </li>
              <li> Investment risk is passed to the life office </li>
              <li> Tax incentives </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center m-2">
        <a href="https://custodianplc.com.ng/capital-builder" class="w-25 btn btn-default modal-btn buy-policy-button">Get a Quote/Buy now</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn modal-close-button" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deferred-annuity-modal" tabindex="-1" aria-labelledby="immediateAnnuityModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Deferred Annuity</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p style="text-align: justify;">
          This is an annuity policy taken by a proposer for the purpose of getting payments upon retirement or
          at some other specified future date. The annuity plan allows policy owners to save towards a deferred
          income. It is also an avenue for employees or self-employed individuals to regularly accumulate money 
          during their active days to guarantee regular streams of income later in life.
        </p>
        <p style="text-align: justify;">
          Custodian deferred annuity provides for retirement age at 50, 55, 60, 65, 70 and 75.
        </p>
        <p>
          <strong style="color:#A50505">There are two (2) phases for deferred annuity: </strong>
        </p>
        <ul>
          <li>
            Accumulation Phase: this is the period the annuitant is regularly paying his premium. 
            It is usually during the deferred period
          </li>
          <li>
            Distribution (Pay Out) Phase: this is the period the annuitant receives regular monthly 
            or quarterly annuity (payments) for the rest of his life or as specified by the policy
          </li>
        </ul>
        <p>

          The commencement of annuity is deferred to a certain age. Premiums are payable during the 
          deferred period (i.e. Accumulation phase). On attainment of that age premium payment stops and annuity payment commences.

        </p>
        <div class="row">
          <div class="col-sm-6">
            <div class="special-heading word-underline">
              <h4 class="special-heading-inner"><span>KEY FEATURES</span></h4>
            </div>
            <ul class="pt-2">
              <li> Income is payable for life </li>
              <li> Annuity payment  for the guaranteed period of 5 years and thereafter for life of the annuitant </li>
              <li> Regular payment is by standing order and on an online, real times basis.</li>
              <li>Annuitants are assured of regular income for life </li>
              <li> Annuity Escalating options at 5% and 10% .</li>

            </ul>
          </div>
          <div class="col-sm-6">
            <div class="special-heading word-underline">
              <h4 class="special-heading-inner">
                <span>BENEFITS</span>
              </h4>
            </div>
            <ul class="pt-2">
              <li>Additional death benefit which is 5 times the annual annuity (Optional) </li>
              <li>Longevity risk </li>
              <li>Provision of income for dependant </li>
              <li>Investment risk is passed to the life office </li>

            </ul>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center m-2">
        <a href="https://custodianplc.com.ng/capital-builder" class="w-25 btn btn-default modal-btn buy-policy-button">Get a Quote/Buy now</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn modal-close-button" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
